<ol>
  <li ng-repeat="item in items">
    <span>{{ item.name }}: </span>    
    <br>
    <span>{{ item.short_name }}: </span>
    <br>
    <span>{{ item.description }}: </span>
    <br>
    <button ng-click="onRemove({index: $index});">Don't want this one!</button>
  </li>
</ol>


<!-- 
<ol>
  <li ng-repeat="item in items" style="clear:both; border:1px solid black;margin-bottom:5px" class="ng-binding ng-scope">
    <span>Name: </span>Won Ton Soup with Chicken<br>
    <span>Short name: </span>A1<br>
    <span>Description: </span>chicken-stuffed won tons in clear chicken broth with white meat chicken pieces and a few scallions<br>
    <button ng-click="onRemove({index: $index});">Don't want this one!</button>
  </li>
</ol> -->